body {
    font-family: Verdana, Arial, Serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    line-height: 16px;
    position: absolute;
    left: 28%;
}

#pageHeader h1, #preamble h3 span, #explanation h3 span, #participation h3 span, #lselect h3 span, #lresources h3 span {
    display: none;
}

#container {
    width: 660px;
    position: relative;
    background-image: url(containerbackground.gif);
}

#quickSummary {
    position: absolute;
    left: 435px;
    width: 200px;
    background: url("summary.gif") no-repeat;
    order: 1;
    padding-top: 35px;
}

#pageHeader {
    margin-top: 0;
    width: 600px;
    margin-left: 29px;
    height: 332px;
    background-image: url(top.gif);
}

#preamble, #supportingText {
    width: 350px;
    margin-left: 60px;
}

#preamble h3, #explanation h3, #participation h3 {
    margin-top: 0;
    height: 46px;
    margin-left: -24px;
    width: 390px;
}

#preamble h3 {
    background-image: url(title1.gif);
}

#explanation h3 {
    background-image: url(title2.gif);
}

#participation h3 {
    background-image: url(title3.gif);
}

a {
    color: red;
    text-decoration: none;
}

#linkList {
    display: inline-block;
    position: absolute;
    width: 200px;
    left: 435px;
    top: 470px;
}

#lselect h3 {
    background-image: url(designs.gif);
    width: 192px;
    height: 40px;
}

#lresources h3 {
    background-image: url(resources.gif);
    width: 192px;
    height: 40px;
}

#lselect ul {
    list-style-image: url(paperfolded.gif);
}

#lresources ul {
    list-style-image: url(paper.gif);
}